$mainBule: #5175F4;
$mainColor:#C0C4CC;
$sizeColor: #6C7B8A;
$colors: (
  (key: 333, val: #333),
  (key: 555, val: #555),
  (key: fff, val: #fff),
  (key: f6, val: #f6f6f6),
  (key: sizeColor, val: $sizeColor),
  (key: red, val: #F43358),
  (key: mainBule, val: $mainBule),
);

$bgColors: (
  (key: fff, val: #fff),
  (key: e6, val: #e6e6e6),
  (key: f8, val: #f8f8f8),
  (key: 555, val: #555),
  (key: mainColor, val: $mainColor),
  (key: mainBule, val: $mainBule),
);

@for $i from 1 through length($colors) {
  $item: nth($colors, $i);
  .co_#{map-get($item, key)} {
    color: map-get($item, val);
  }
}

@for $i from 1 through length($bgColors) {
  $item: nth($bgColors, $i);
  .bg-co_#{map-get($item, key)} {
    background-color: map-get($item, val);
  }
}